@media (max-width: 767px) {
  .desktop-img {
    display: none;
    border-top-left-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .mobile-img {
    display: none;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-style: none;
  }
}

.brand {
  letter-spacing: 3px;
}

.perfume-name {
  font-size: 2rem;
}

.price {
  font-size: 2rem;
}

.mobile-img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

@media (max-width: 576px) {
  .card-content {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 1rem;
  }
}

.container {
  max-width: 600px;
  max-height: 768px;
}

section {
  margin-top: 7rem;
}

@media (min-width: 768px) {
  .desktop-img {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

@media (min-width: 768px) {
  .card-content {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }
}

